<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/account-layout.css">
    <title>Employee-Home</title>
</head>

<body>
    <div class="wrapper">
        <div class="nav">
            <ul>
                <li><a href="#/employee">Home</a></li>
                <li><a href="#/employee/users/showusers">Users</a></li>
                <li><a href="#/employee/books/showbooks">Catalog</a></li>
                <li><a href="#/employee/orders">Issue Books</a></li>
                <li><a href="#/employee/returnedbooks">Return Books</a></li>
                <li><a href="#/employee/reservations">Process Reservations</a></li>
                <li style="float:right"><a class="active" href="#logout">Logout</a></li>
            </ul>
        </div>


        <div class="notify">
            <h3>Notifications</h3>
            <p>There are no notifications.</p>
        </div>

        <div class="container">
            <h3>Dynamic Content Served Here.</h3>
        </div>
    </div>
</body>

</html>