<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Books</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}">
  </head>

  <body>
    <div th:replace="navBar-layout :: employeeNavBar"></div>

    <div class="container">
      <h3>Catalog</h3>

      <div class="row">
        <form th:action="@{/employee/books/showbooks}" method="GET">
          <div class="col-25">
            <label for="title">Title</label>
          </div>
          <div class="col-75">
            <input type="text" id="title" name="title" />
          </div>

          <div class="col-25">
            <label for="author">Author</label>
          </div>
          <div class="col-75">
            <input type="text" id="author" name="author" />
          </div>
          <div>
            <input type="submit" value="Search" />
          </div>
        </form>
        
        <div>
        	<a href="?"><button type="button" class="submit-button">Show all books</button></a>
        </div>

        <form th:action="@{/employee/books/newbook}" method="GET">
          <div>
            <input
              style="margin-left: 20px"
              type="submit"
              value="Add new book"
            />
          </div>
        </form>
      </div>
      <br />
      <table th:if="${books.size() > 0 }" id="tablestyle">
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <!-- <th>Release Year</th>
                <th>Edition</th> 
          <th>Return Date</th>
          <th>Reserved From</th>
          <th>Reserved Until</th>-->
          <th>Action</th>
        </tr>
        <tr th:each="book : ${books}">
          <td th:text="${book.ISBN}"></td>
          <td th:text="${book.title}"></td>
          <td th:text="${book.author}"></td>
          <td style="width: 240px">
            <a th:href="@{/employee/books/{id}(id=${book.ISBN})}"><button type="button" class="submit-button">Change info</button></a>
            <form
              th:action="@{/employee/books/areyousuretodeletebook}"
              method="GET"
            >
              <input
                type="submit"
                value="Delete book"
                class="table"
                style="background-color: red; width: 110px"
              />
              <input
                type="hidden"
                name="deleteBookId"
                th:value="${book.ISBN}"
              />
            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
