<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
</head>

<body>
	<div th:fragment="userNavBar">
		<div class="nav">
			<ul>
				<li><a href="/user">Home</a></li>
				<li><a href="/user/browsebooks">Browse Books</a></li>
				<li><a href="/user/yourreservations">Your Reservations</a></li>
				<li style="float: right"><a class="active" href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>

	<div th:fragment="employeeNavBar">
		<div class="nav">
			<ul>
				<li><a href="/employee">Home</a></li>
				<li><a href="/employee/users/showusers">Users</a></li>
				<li><a href="/employee/books/showbooks">Catalog</a></li>
				<li><a href="/employee/reservations">Process Reservations</a></li>
				<li style="float: right"><a class="active" href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>

</body>
</html>