<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" href="../../static/css/account-layout.css">
</head>
<body>
<ul th:replace="user-home :: nav"></ul>
	
	<div class="container">
		<h3>Make reservation</h3>
			<p>Select books to make a reservation.</p>
	</div>	
	 <div class="container">
		<h3>Books</h3>
		<div class="row">
			<form>
				<div class="col-25">
					<Label for="title">Title</Label>
				</div>
				<div class="col-75">
					<input type="text" id="title" name="title">
				</div> 
				
				<div class="col-25">
					<Label for="author">Author</Label>
				</div>
				<div class="col-75">
					<input type="text" id="author" name="author">
				</div>
				<div>
					<input type="submit" value="Search">
					<input type="hidden">				
				</div>
			</form>
			
			<form>
				<div>
					<input style="margin-left: 20px" type="submit" value="Show all books" name="showAllBooks">
					<input type="hidden">
				</div>
			</form>
		</div>
		<br/>		
		
	</div>
</body>
</html>