<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Browse Books</title>
<link rel="stylesheet" th:href="@{/CSS/account-layout.css}">
</head>

<body>
	<div th:replace="navBar-layout :: userNavBar"></div>

	<div class="notify">
		<h3>Make reservation</h3>
		<p>Select books to make a reservation.</p>
	</div>

	<div class="container">
		<h3>Books</h3>
		<div class="row">
			<form>
				<div class="col-25">
					<Label for="title">Title</Label>
				</div>
				<div class="col-75">
					<input type="text" id="title" name="title">
				</div>

				<div class="col-25">
					<Label for="author">Author</Label>
				</div>
				<div class="col-75">
					<input type="text" id="author" name="author">
				</div>
				<div>
					<input type="submit" value="Search">
				</div>
			</form>

			<form>
				<div>
				    <a href="?" style="margin-left: 20px"><button type="button" class="submit-button">Show all books</button></a>
				</div>
			</form>
		</div>
		<br />
		<table th:if="${books.size() > 0 }" id="tablestyle">
			<tr>
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
				<th>Action</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.ISBN}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td style="width: 240px;">
				    <a th:href="@{/user/books/{id}(id=${book.ISBN})}"><button style="width: 150px; margin-left: 3.5em" class="submit-button">View Book</button></a>
				</td>
			</tr>
		</table>


		<br />

	</div>
</body>
</html>